# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Nbviewer'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'nbviewer:toggle'
        }
      ]
    ]
  }
]

'context-menu':
  '.tree-view .file .name[data-name$=\\.ipynb]':
      [{label: 'Notebook Preview', command:  'nbviewer:preview-file'}]
